h1{
  text-align:center;
}
h3{
  text-align:center;
  color:red;
}
div #left{
  float:left;
  overflow-y:scroll;
  width:600px;
  height:700px;
  border: 1px solid red;
}
div #right{
  float:right;
  overflow-y:scroll;
  width: 600px;
  height: 700px;
  border: 1px solid blue;
}
