h1{
  text-align:center;
}
h3{
  text-align:center;
  color:red;
}
div #left{
  float:left;
  overflow-y:scroll;
  border: 1px solid red;
}
div #right{
  float:right;
  overflow-y:scroll;
  border: 1px solid blue;
}
ul{
  list-style-type:none;
  overflow:hidden;
  padding:0;
  margin:0;
  background:gray;
}
li{
  display:inline-block;
}
li a{
  display:block;
  color:white;
  padding: 5px 5px;
  text-align:center;
}
p .bio{
  text-align:center;
}
